body {
    width: 100%;
    height: 100%;
    background-color: wheat;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#image {
    width: 200px;
    height: 100px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

form {
 
    min-width: 530px;
    width: 400px;
    max-height: 490px;
    position: relative;
    height: 400px;
    justify-content: center;
}

#entete {
    background-color: #191c25;
    color: black;
    width: 390px;
    height: 65px;
    text-decoration: none;
}

#langue button {
    font-size: 18px;
    background-color: white;
}

.option {
    width: 200px;
    height: 25px;
    background-color: white;
}

#entete2 {
    background-color: #191c25;
    color: black;
    width: 390px;
    height: 170px;
    text-decoration: none;
}

#entete2 button {
    font-size: 18px;
    width: 150px;
    height: 30px;
}

#exécuter {
    background-color: #191c25;
    color: black;
    width: 390px;
    height: 70px;
    position: relative;
    border: 2px solid white;
    
}

#exécuter .button {
         width: 150px;
        height: 40px;
        background: #ff7200;
        border-radius: 10px;
        border: none;
        font-size: 18px;
      margin-left: 230px;
        cursor: pointer;
        color: #fff;
        z-index: 10px;
        top: -20px;
        position: relative;
}

#entete {
    margin-top: 15px;
}

#entete2 {
    margin-top: 15px;
}

.option2 {
    width: 150px;
    height: 25px;
    background-color: white;
}

label {
    margin: 0 5px;
    padding: 5px;
    color: white;

}
.label2{
    position: relative;
    top: -30px;
    margin: 0 25px;
}

input {
    position: relative;
    margin: 0 150px;
    top: -30px;
}
.input{
    position: relative;
    top: -60px;
}

#utilisateur {
    margin: 0 25px;
}

#bibliothèque {
    margin: 0 22px;
}

.connexion button {
    background-color: white;
}
.btn {
        color: #ff7200;
        width: 200px;
        height: 40px;
        background: #ff7200;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        cursor: pointer;
        z-index: 10px;
    }
    .h2{
    width: 250px;
        font-family: sans-serif;
        text-align: center;
        color: #ff7200;
        font-size: 22px;
        background-color: #fff;
        border-radius: 10px;
        z-index: 10px;
      
        
}